extends layout

block content
    h1 #{artist.name}
        br
        br
        img(src=artist.images[0].url, alt="")
        p Genres: #{artist.genres}
        br
        a(href=artist.external_urls.spotify) Listen on Spotify
        br
        a(href="#") View Albums
    //- ul.artist-list
    //-     each artist, i in artists
    //-         a(href=`/artist/`+artist.id)= artist.name
    //-         li.artist-list-item= artist.name