doctype html
html
    head
        title MusicSearchApp
        //- link(rel='stylesheet', href='/css/style.css')
    body
        .container
            block content
            br
            hr
            footer
                p Copyright &copy CamJim Industries 2019
        //- script(src='/js/main.js')