extends layout

block content
    h1 Search results for: #{title}
    ul.artist-list
        each artist, i in artists
            a(href=`/artist/${artist.id}/access=${accessToken}`)= artist.name
            br